<!DOCTYPE html>
<html>
<head>
    <title>hayhaytutor</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel=stylesheet type="text/css" href="/static/css.css">
</head>
<body>
<nav class="navbar navbar-expand sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="home"><b>HAY HAY</b> Tutor</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="signup">Parent Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="instructor">Instructor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="question">Common Question</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="reference">Tuition Reference</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="aboutus">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contactus">Contact Us</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
        </li>
    </ul>
</nav>
<article>
<div class="container bg-grey">
    <br>
    <br>
  <h2>Instructor</h2>
 <table class="table" id="instructor">
    <thead>
      <tr id="instructor">
        <th>Name</th>
        <th>Degree</th>
        <th>School</th>
        <th>Gender</th>
        <th>Decription</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Information technology for business(Hons)</td>
        <td>City University of HK</td>
        <td>Male</td>
        <td>I got English straight 5** in HKDSE, expert in English and ICT. I was a marker of DSE mock exam. In the lesson, I have some notes which is written by myself.</td>
      </tr>
      <tr>
        <td>Jo Jo</td>
        <td>Hotel Management and asministration(Hons)</td>
        <td>Hong Kong Unveristy</td>
        <td>Male</td>
        <td>I got Econ ICT 5** in HKDSE, expert in English and ICT. I can teach both secondary school and primary school students.</td>
      </tr>
      <tr>
        <td>Mandy</td>
        <td>Chinese language and literature(Hons)</td>
        <td>Hong Kong Unveristy</td>
        <td>Female</td>
        <td>I got Chinese 5** in HKDSE, I can teach students in a funny way.</td>
      </tr>
    </tbody>
    </table>
</div>
</article>
<footer class="container-fluid text-center">
  <p>All Right Reserved </p>
  <img src="static/school.png" alt="school" height="35">
</footer>
</body>
</html>