<!DOCTYPE html>
<html>
<head>
	<title>hayhaytutor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel=stylesheet type="text/css" href="/static/css.css">
</head>
<nav class="navbar navbar-expand sm bg-dark navbar-dark fixed-top">
	<a class="navbar-brand" href="home"><b>HAY HAY</b> Tutor</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="home">Home</a>
		</li>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="signup">Parent Registration</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="instructor">Instructor</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="question">Common Question</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="reference">Tuition Reference</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="aboutus">About Us</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="contactus">Contact Us</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" href="login">Login</a>
		</li>
	</ul>
</nav>
<article>
<div class="container bg-grey">
	<br>
	<br>
  <h2>COMMON QUESTION</h2>
    	<h4>Instructor</h4>
    	<a>Q1: Should I pay the first two tuition fees to the HAYHAY Tutor?<br>
    	ANS: The HAYHAY Tutor will receive the first two weeks of the designated church fee as the administrative fee.<br>
    	Example:<br>
    	Tutor Tutoring Case 1:<br> One week of tutoring, 1.5hr per session, $120/hr.<br>
		Administrative fee is: 2x1.5x120x1=$360<br>
		Tutor Tuiting Case 2: <br>Two classes a week, 1.5hr per session, $80/hr.<br>
		Administrative fee is: 2x1.5x80x2=$480<br><br>

		Q2:What is default behavior?<br>
		ANS:Default behavior includes:<br>
		Absence, late, provide inaccurate resumes, changing the date of class frequently, changint the content of the agreement privately(including hourly salary, place, numbers of lesson etc).The instructor's default behavior will be recorded and the recorded instructor may be blacklisted.<br><br>

		Q3: After I confirmed the tutor, when did I have a parent phone number?<br>
		ANS: When you are not officially attending the first class, according to the Privacy Policy, the HAYHAY Tutor will not exchange calls from both parties without the consent of both parties until you meet.<br><br>

		Q4: What documents do I need to prepare for the first lesson?<br>
		ANS: The instructor needs to prepare your identification documents and academic qualifications such as DSE result, teacher registration certificates and other certificates.<br><br>

		Q5: If the parents ask for cancelling a lesson in the first week, can I be reduced by the administrative fee of 1 course?<br>
		ANS:The HAYHAY Tutor uses the "two-week agreement lesson" as the charging index. The administrative fee will be based on the originally agreed fee, rather than the actual number of tutorials in the first two weeks.<br><br>

		Q6: If I apply for the case on my own, there is a discrepancy between the case and the actual accepted case. Which one will prevail?<br>
		ANS: The HAYHAY Tutor will detail the case request and the location of the case before the oral confirmation of the instructor. The instructor should refer to the information mentioned in the confirmation of the staff and the instructor. Therefore, the information of the instructor when applying for a case can only be used as a reference. It must be based on the content stated in the case of the employee's confirmation of the case.<br><br>

		Q7: If I can't take tutoring due to something, can I find a friend/classmate to take the lesson?<br>
		ANS: The tutor must personally ask the parents for leave to reach a consensus. It is not allowed to find a friend/classmate on their own.<br><br>

		Q8: After the  tutor is suspended, can the tutor re-train with the relevant parents?<br>
		ANS: Before the lesson of the agreement is not completed, the tutor must first notify the association. If the tutor wants to continue, the tutor needs to complete the number of agreements (one year after the first case). After completing the number of agreements, the instructor can make a decision first.<br><br>


		<h4>Parents</h4>
		Q1: When I am looking for a tutor at the HAYHAY Tutor Network, when will the HAYHAY Tutor provide the right tutor for my children?<br>
		ANS: To ensure quality, the HAYHAY Tutor requires several working days to find the most suitable tutor for parents, but in general, it will not exceed 3-4 working days.<br><br>

		Q2: If the instructor is not suitable in the first two weeks, how will the HAYHAY Tutor handle it?<br>
		ANS: First of all, parents should inform the HAYHAY Tutor as soon as possible, but in order to protect the interests of the tutor, parents should attach reasonable reasons. If the HAYHAY Tutor recognizes the truth, it will immediately change the tutor for the parents.<br><br>
		
		Q3: How should the tuition be paid to the HAYHAY Tutor?<br>
		ANS: After the first two weeks of tutoring, parents are requested to deposit the fees into the following bank account within three days.<br>
		Account Number:<br>
		BOC: 012-123-1-1234567<br>
		Hang Seng: 789-1234567-123<br><br>

		Q4: If I don't pay the administrative fee on the appointed date, what action will the HAYHAY Tutor take?<br>
		ANS: First of all, parents have the responsibility to pay the fees on time. In addition, the HAYHAY Tutor will also be reminded to pay by telephone or other means before and after the due date. If the parents can't pay in time, they will pay. The HAYHAY Tutor has additional special administrative fees. Therefore, the HAYHAY Tutor hopes that everyone can pay for it on time.<br><br>
		</a>

  </div>
</article>
<footer class="container-fluid text-center">
  <p>All Right Reserved </p>
  <img src="/static/school.png" alt="school" height="35">
</footer>
</body>
</html>